.loginPage, .registerPage {
    min-height: 75vh;
    color: black;
}

.loginPage .card-title, .registerPage .card-title{
    font-size: 2rem;
    font-weight: bold;
}

.loginPage .button, .registerPage .button {
    font-weight: bold;
}