.layout .nav-link,
.layout .navbar-brand{
    color: white !important;
}

.layout a{
    color: white;
    text-decoration: none;
}

.layout .navbar{
    padding-left: 10%;
    padding-right: 10%;
}

.layout {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;   
}

.layout hr {
    background-color: grey;
    height: 1.5px;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 1;
}

.layout .navbar-brand:hover, 
.layout .nav-link:hover {
    color: #FFB548 !important;
}