.opponentPage {
    padding-left: 10%;
    padding-right: 10%;
}

.opponentPage .levelBtn{
    width: 100%;
    background-color: #262626;
    min-height: 80px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.opponentPage .card {
    background-color: #262626; 
    height: 100%;   
    border-radius: 20px;
}

.opponentPage .card-header {
    border: none;
}

.opponentPage .card-header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.opponentPage .card-title {
    font-size: 1rem;
}

.opponentPage .profileName {
    color: #FFB548;
}

.opponentPage .card-footer .btn {
    border-radius: 50px;
    border: none;
    width: 50%;
    background-color: #FFB548 !important;
}